<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>ST-UFPI Manutenções {{veiculo.modelo}}</title>

    <style>
        .container {
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark" data-bs-theme="dark">
       <div class="container-fluid">

            <a class="link-light link-offset-2 link-underline link-underline-opacity-0" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars"></i>
            </a>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ user.username }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'home' %}"><i class="{% url 'home' %}"></i> Início</a></li>
                            <li class="list-group-item"><a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'veiculos' %}"><i class="fa-solid fa-car"></i> Veículos</a></li>
                            <li class="list-group-item"><a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'motoristas' %}"><i class="fa-regular fa-id-card"></i> Motoristas</a></li>
                            <li class="list-group-item"><a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'rotas' %}"><i class="fa-solid fa-map"></i> Rotas</a></li>
                            <li class="list-group-item"><a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'demandas' %}"><i class="fa-solid fa-truck-arrow-right"></i> Demandas de transporte</a></li>
                            <li class="list-group-item"><a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'combustivel' %}"><i class="fa-solid fa-gas-pump"></i> Combustível</a></li>
                            <li class="list-group-item"><a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'viagens' %}"><i class="fa-solid fa-route"></i> Viagens</a></li>
                            <li class="list-group-item"><a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'logout_user' %}"> Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>

           <div>
               <a href="{% url 'manutencao' %}" class="link-light link-offset-2 link-underline link-underline-opacity-0 ms-auto">
                 <i class="fa-solid fa-arrow-left"></i> Voltar
               </a>
           </div>

            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'logout_user' %}">Sair</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <section class="container">
        <div class="card w-80">
            <div class="card-body">

                <div>
                    <h1 class="card-title">Manutenções do Veículo - {{ veiculo.modelo }}</h1>
                    <br>
                    {% if user_permissions.view_cadastrar_manutencao %}
                        <a class="btn btn-success" href="{% url 'cadastrar_manutencao' %}" role="button">Adicionar manutenções</a>
                    {% endif %}
                        <!--<a class="btn btn-secondary" href="#" role="button">Realizar manutenção</a>-->
                        <!--<a class="btn btn-success" href="#" role="button">Manutenções</a>
                        <a class="btn btn-danger" href="#" role="button">Realizar checklist</a>-->
                </div>

                <div>
                    <br>
                    <div class="dropdown end">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Filtrar
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="?ordenacao=asc">Data <i class="fa-solid fa-arrow-up"></i></a></li>
                            <li><a class="dropdown-item" href="?ordenacao=desc">Data <i class="fa-solid fa-arrow-down"></i></a></li>
                        </ul>
                    </div>
                    <br>

                    <table class="table text-center table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Veículo</th>
                                <th scope="col">Data</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Comprovante</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for manutencao in manutencoes %}
                                <tr>
                                    <th>{{ manutencao.veiculo.modelo }}</th>
                                    <td>{{ manutencao.data|date:'d/m/Y' }}</td>
                                    <td>{{ manutencao.descricao_manutencao }}</td>
                                    <td>
                                        <a href="{% url 'view_comprovante' manutencao.id %}" target="_blank">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                    </td>

                                    <td>
                                        <i class="fa-solid fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal{{ manutencao.id }}"></i>
                                        <!-- Modal -->
                                            <div class="modal fade" id="exampleModal{{ manutencao.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Detalhes da manutenção</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p><strong>Veiculo:</strong> {{ manutencao.veiculo.modelo }}</p>
                                                            <p><strong>Data:</strong> {{ manutencao.data|date:'d/m/Y' }}</p>
                                                            <p><strong>Descrição:</strong> {{ manutencao.descricao_manutencao }}</p>
                                                            <p><strong>Comprovante:</strong>
                                                                <a href="{% url 'view_comprovante' manutencao.id %}" target="_blank">
                                                                    <i class="fa-solid fa-eye"></i>
                                                                </a>
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% if user_permissions.view_editar_manutencao %}
                                            <a href="{% url 'editar_manutencao' manutencao.id %}" class="link-dark"><i class="fa-solid fa-pen-to-square"></i></a>
                                        {% endif %}

                                        {% if user_permissions.view_deletar_manutencao %}
                                            <i class="fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#deletar{{ manutencao.id }}"></i>
                                        {% endif %}

                                        <!-- Modal -->
                                        <div class="modal fade" id="deletar{{ manutencao.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="aaa">Excluir Manutenção</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Tem certeza que deseja excluir a manutenção do veículo '{{ manutencao.veiculo.modelo }}' no dia '{{manutencao.data|date:'d-m-Y'}}'?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                        <!-- Utilize um formulário para enviar a solicitação de exclusão -->
                                                        <form method="post" action="{% url 'deletar_manutencao' manutencao.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Deletar</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>